body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #FBE8A6; /* Neuro-sama Tan */
    color: #212121; /* Dark text for contrast */
}

header {
    background-color: #6EC1E4; /* Neuro-sama Blue */
    color: #FBE8A6; /* Tan text */
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 2em;
}

h1, h2 {
    margin: 0.5em 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #6EC1E4; /* Neuro-sama Blue */
    color: #212121; /* Dark text for readability */
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(33,33,33, 0.07);
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #6EC1E4; /* Neuro-sama Blue */
    color: #FBE8A6; /* Tan text */
    position: fixed;
    width: 100%;
    bottom: 0;
}
